.CalculatorKey {
    background-color: gray;
    color: white;
    margin: 1px;
    font-size: 12vw;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
   }

.CalculatorKey:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}